.ctlg-filter {
  &__title {
    margin-bottom: 30px;
    font-family: $font-Vollkorn;
    font-size: 24px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    &:hover,
    &.is-active {
      color: $red;
    }

    svg {
      position: relative;
      top: -2px;
      width: 13px;
      height: 12px;
    }
  }

  &-list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 10px;
    overflow: hidden;

    li {
      border-bottom: 1px solid $black;
    }
  }

  &__link {
    display: block;
    background-color: #373737;
    padding: 20px 0;
    color: $white;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    transition: .15s ease-in;
  }

  @include media-breakpoint-up(sm) {

    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-col {
      width: 48.5%;
    }

    &-list {
      display: block;
      position: relative;
      border-radius: 0;

      li {
        margin-bottom: 15px;
        border-bottom: none;
      }
    }

    &__title {

      font-size: 20px;

      &:hover,
      &.is-active {
        color: $white;
      }
      svg {
        display: none;
      }
    }

    &__link {
      background-color: transparent;
      padding: 10px 0;
      border: 1px solid #737373;
      color: #b2b2b2;
      font-size: 16px;

      &:hover {
        color: $white;
        border-color: $white
      }
    }
  }

  @include media-breakpoint-up(md) {

    &-col {
      width: 100%;
      max-width: 260px;
      margin-bottom: 45px;
    }

    &__title {
      margin-bottom: 20px;
    }
  }

  @include media-breakpoint-up(lg) {
    &-col {
      max-width: 100%;
    }
  }
}
