<footer class="footer">
    <div class="footer-inner">
        <div class="footer-row">
            <h4 class="footer__h4">Контакты</h4>
            <p class="footer__p">
                <a href="tel:+7 (495) 560-09-83" class="footer__link footer__phone">+7 (495) 560-09-83</a>
            </p>
        </div>
        <div class="footer-row">
            <p class="footer__p mb-sm-0">
                <a href="mailto:farfor_collection@gmail.com" class="footer__link footer__email">farfor_collection@gmail.com</a>
            </p>
            <p class="footer__p footer__p--cp">©2017 Фарфор</p>
        </div>
    </div>
</footer>