<header class="header">
    <div class="header-inner">
        <div class="header-row">
            <div class="header-col">
                <a href="tel:+7 (495) 560-09-83" class="header__phone">+7 (495) 560-09-83</a>
            </div>
            <div class="header-col">
                <a href="#" class="header__logo {{ logoClass }}">
                    <img src="images/logo-sm.svg" alt="" class="header__logo-img" width="41" height="52">
                </a>
            </div>
            <div class="header-col">
                <button class="header__btn js-open-nav">
                    {% include "./svg/btn-menu.svg" %}
                </button>
            </div>
        </div>
    </div>

    <nav class="nav">
        <button class="nav__btn js-close-nav">
            {% include "./svg/close.svg" %}
        </button>
        <ul class="nav-list">
            <li>
                <a href="#" class="nav__link">Коллекции</a>
            </li>
            <li>
                <a href="#" class="nav__link">О коллекционере</a>
            </li>
            <li>
                <a href="#" class="nav__link">Пресса о нас</a>
            </li>
        </ul>
    </nav>
</header>
