{% extends './inc/page.twig' %}

{% block content %}

<div class="wrapper">

    <section class="bg-black pt-7 pb-3">
        <div class="container txt-center txt-white mb-6 mb-sm-9">
            <h1 class="h1 txt-uppnone mb-2">Сервиз с росписью в Восточном стиле</h1>
            <p class="txt-14 txt-uppcase txt-red-l txt-ls-16">Чайная посуда</p>
        </div>

        {% include "inc/pages/card/card-slider.twig" %}
    </section>

    <section class="bg-gray py-7">
        <div class="container px-md-9">
            <p class="card-ct__p txt-lh-2">
                Любопытным здесь является смешение стилей, свойственное искусству XIX века: художники сочетают античную
                форму предмета с живописью в стиле шинуазри, а ручка отсылает к великолепным «натуралиям» барокко.
                Однако такая эклектика выглядит чрезвычайно гармонично и эффектно. Нарядные кувшины-аски, несомненно,
                одни из интереснейших экспонатов данного собрания.

            </p>
            <p class="card-ct__p mb-0 txt-lh-2">
                Как уже упоминалось, русский фарфор зачастую был вынужден ориентироваться на европейские образцы,
                следовать европейской моде и стилю, дабы удовлетворить запросы своих покупателей. Прекрасные чайные
                сервизы, декорированные кобальтовым крытьем, цветочными резервами и видовой росписью на белом фоне,
                показывают, что Корниловы могли быть прекрасными.

            </p>
        </div>
    </section>

    <section class="bg-black py-7 border-b-gray">
        <div class="container px-lg-0">
            <h2 class="h1 txt-white txt-center mb-sm-9">Предметы коллекции</h2>

            {% include "inc/pages/card/collection.twig" %}
        </div>
    </section>

</div>

{% endblock %}
