<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
        <meta content="ie=edge" http-equiv="X-UA-Compatible" />
        <title>Фарфор</title>
        <link href="css/style.css?{{ date().getTime() }}" rel="stylesheet" />
    </head>
    <body>
        {% set pages = [ 
            { link: 'main', name: 'Главная' },
            { link: 'pressa', name: 'Пресса' },
            { link: 'about', name: 'О коллекционере' },
            { link: 'card-item', name: 'Карточка' }
        ] %}

        <div class="wrapper">
            <div class="container">
                <h1>Фарфор  страницы</h1>

                <ul>
                    {% for page in pages %}
                        <li>
                            <a href="{{ page.link }}.html" class="page-link">{{ page.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>