<div class="card-ct card-ct--quots order-invers-lg">
    <div class="card-ct-left card-ct-left--sm-full txt-white">

        <p class="txt-vollkrn mb-4">
            «Российские заводы, производящие фарфор, задали высокую планку качества в XIX веке. Благодаря высочайшему
            качеству наши заводы вышли на мировой рынок и завоевали популярность и признание. Корниловский завод покорил
            взыскательные рынки Европы и США. Кузнецовский завод успешно поставлял продукцию странам Азии. Каждая
            мануфактура России — это уникальное явление, наследие которого так важно сохранить. Ведь это та тонкая и
            хрупкая грань истории России, которую нам всем необходимо знать и помнить»
        </p>

        <p class="card-ct__title mb-0">Фарид Юнусов</p>
    </div>

    <div class="card-ct-right card-ct-right--sm-full">
        <img src="images/tmp/about-pic-lg-2.png" alt="" class="card-ct__pic card-ct__pic--lg">
    </div>

</div>