<div class="card-ct">
    <div class="card-ct-left card-ct-left--md-small txt-center mb-5">
        <img src="images/tmp/card-author.png" alt="" class="card-ct__pic card-ct__pic--about">
    </div>
    <div class="card-ct-right card-ct-right--md-large pt-sm-2">
        <p class="card-ct__title px-sm-0">Фарид Юнусов</p>
        <p class="card-ct__p">
            Фарид Юнусов — глава УК «Ингосстрах-Инвестиции» и увлеченный коллекционер. Это человек высочайшей компетентности в вопросах, касающихся предметов искусства и антиквариата. 

        </p>
    </div>
</div>