<div class="card-ct">
    <div class="card-ct-left card-ct-left--md-small txt-center mb-5 mb-sm-0">
        <img src="images/tmp/card-author-2.png" alt="" class="card-ct__pic card-ct__pic--about">
    </div>
    <div class="card-ct-right card-ct-right--md-large pt-sm-2">
        <p class="card-ct__title">Сергей Набоких</p>
        <p class="card-ct__p txt-white">
            Сергей Набоких — управляющий
            частной коллекцией Фарида Юнусова, эксперт-искусствовед, специалист
            по фарфору.
        </p>
    </div>
</div>