<!-- Swiper -->
<div class="gallery-slider-wrapper">
        <div class="swiper-container gallery-slider js-gallery-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/tmp/card-item-slide-1.png" alt="" class="gallery-slider__pic">
                </div>
                <div class="swiper-slide">
                    <img src="images/tmp/card-item-slide-1.png" alt="" class="gallery-slider__pic">
                </div>
                <div class="swiper-slide">
                    <img src="images/tmp/card-item-slide-1.png" alt="" class="gallery-slider__pic">
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next sb-white"></div>
            <div class="swiper-button-prev sb-white"></div>
        </div>
    </div>
    