<div class="ctlg-filter-row">
    <div class="ctlg-filter-col">
        <h4 class="ctlg-filter__title js-ctlg-title" data-rel="filter-1">
            Категории
            {% include "../../svg/arrow-down.svg" %}
        </h4>
        <div class="relative">
            <ul class="ctlg-filter-list" data-target="filter-1">
                <li>
                    <a href="#" class="ctlg-filter__link">чайная посуда</a>
                </li>
                <li>
                    <a href="#" class="ctlg-filter__link">столовая посуда</a>
                </li>
                <li>
                    <a href="#" class="ctlg-filter__link">пластик</a>
                </li>
                <li>
                    <a href="#" class="ctlg-filter__link">декоративная посуда</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ctlg-filter-col">
        <h4 class="ctlg-filter__title js-ctlg-title" data-rel="filter-2">
            Стилистика
            {% include "../../svg/arrow-down.svg" %}
        </h4>
        <div class="relative">
            <ul class="ctlg-filter-list" data-target="filter-2">
                <li>
                    <a href="#" class="ctlg-filter__link">ампир</a>
                </li>
                <li>
                    <a href="#" class="ctlg-filter__link">рокко</a>
                </li>
                <li>
                    <a href="#" class="ctlg-filter__link">модерн</a>
                </li>
                <li>
                    <a href="#" class="ctlg-filter__link">купеческий стиль</a>
                </li>
            </ul>
        </div>
    </div>
</div>
