<div class="card-ct">
    <div class="card-ct-left txt-center">

          <!-- Swiper -->
        <div class="swiper-container card-ct__slider js-card-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/tmp/card-slide-1.jpg" alt="" class="card-ct__pic">
                </div>
                <div class="swiper-slide">
                    <img src="images/tmp/card-slide-1.jpg" alt="" class="card-ct__pic">
                </div>
                <div class="swiper-slide">
                    <img src="images/tmp/card-slide-1.jpg" alt="" class="card-ct__pic">
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <h4 class="card-ct__title">
            Прикоснитесь к&nbsp;истории
            России вместе с нами
        </h4>
    </div>
    <div class="card-ct-right">
        <p class="card-ct__p">
            Каждая коллекция начинается с небольшого решения. Фарид Юнусов — профессионал финансового рынка, и каждое
            решение принимает взвешенно, ведь коллекционирование — это своего рода инвестиция. И не обязательно
            материальная.
        </p>
        <p class="card-ct__p">
            Как говорит сам господин Юнусов, мы что-то отдаем, чтобы получить возврат чего-то большего. Создание
            коллекции русского фарфора — это не только инвестиция средств, но и огромный эмоциональный, духовный вклад в
            поддержание культуры и искусства России, что невозможно измерить финансовыми инструментами.
        </p>
        <p class="card-ct__p">
            Вдобавок, любая коллекция — это стремление к интересным и будоражащим открытиям, к поиску особенных
            ценностей, к уникальности. Собирание артефактов, предметов культуры и быта наших предков доставляет радость
            и удовольствие, позволяет прикоснуться к нашей удивительной и многообразной истории, почувствовать дух того
            времени, о котором пишут в учебниках и слышат от учителей.
        </p>
    </div>
</div>