<div class="card-ct">
    <div class="card-ct-left txt-center mb-5">
        <img src="images/tmp/card-author-2.png" alt="" class="card-ct__pic card-ct__pic--athr">
    </div>
    <div class="card-ct-right pt-sm-2">
        <p class="card-ct__title">Сергей Набоких</p>
        <p class="card-ct__p">
            Сергей Набоких — управляющий частной коллекцией Фарида Юнусова, эксперт-
            искусствовед, высококлассный эксперт,
            разбирающийся во всех тонкостях русского и зарубежного фарфора, досконально знающий историю возникновения,
            развития и появления различных стилей
        </p>
    </div>
</div>

<div class="card-ct card-ct--sm-center">
    <div class="card-ct-left card-ct-left--md-large mb-5">
        <p class="txt-vollkrn">
            «Российские заводы, производящие фарфор, задали высокую планку качества в XIX веке. Благодаря высочайшему
            качеству наши заводы вышли на мировой рынок и завоевали популярность и признание. Корниловский завод покорил
            взыскательные рынки Европы и США. Кузнецовский завод успешно поставлял продукцию странам Азии. Каждая
            мануфактура России — это уникальное явление, наследие которого так важно сохранить. Ведь это та тонкая и
            хрупкая грань истории России, которую нам всем необходимо знать и&nbsp;помнить»
        </p>
        <img src="images/plate-2.png" alt="" class="card-ct__pic card-ct__pic--abs d-none d-lg-block">
    </div>
    <div class="card-ct-right card-ct-right--md-small">
        <img src="images/plate.png" alt="" class="card-ct__pic card-ct__pic--lg">
    </div>
</div>
