<div class="card-ct card-ct--quots">
    <div class="card-ct-left txt-white mw-425 mb-4 mb-sm-0">

        <p class="txt-vollkrn mb-4">
            «Прикосновение к этим предметам, ставшими свидетелями многих былых событий, дает возможность почувствовать
            и&nbsp;себя такой же неотъемлемой частью нашей великой истории.

        </p>
        <p class="txt-vollkrn mb-4">
            Я хочу разделить эту радость с вами и&bsp;надеюсь, что это поможет оглянуться назад, чтобы еще раз оценить
            богатство красок и оттенков российского декоративно-прикладного искусства, и побудит взглянуть по-новому на
            потенциал, скрытый в русской культуре сегодня и завтра»

        </p>

        <p class="card-ct__title mb-0">Фарид Юнусов</p>

    </div>
    <div class="card-ct-right">
        <img src="images/tmp/card-main-pic.png" alt="" class="card-ct__pic card-ct__pic--lg">
    </div>
</div>
