<div class="card-ct">
    <div class="card-ct-left txt-center mb-5">
        <img src="images/tmp/card-author.png" alt="" class="card-ct__pic card-ct__pic--athr">
    </div>
    <div class="card-ct-right pt-sm-2">
        <p class="card-ct__title">Фарид Юнусов</p>
        <p class="card-ct__p">
            — глава УК «Ингосстрах-Инвестиции» и увлеченный коллекционер. Это человек высочайшей компетентности в
            вопросах, касающихся предметов искусства и антиквариата
        </p>
        <p class="card-ct__p">
            В течение долгих лет Фарид тщательным образом изучал такую область искусства как дореволюционный фарфор.
            Будучи настоящим экспертом в этой области, он охотно делится своими знаниями с начинающими инвесторами,
            организует тематические выставки и учит разбираться
            в тонкостях этой области искусства
        </p>
    </div>
</div>
