<!-- Swiper -->
<div class="swiper-container card-hs__slider js-card-hs">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card-hs">
                <div class="card-hs-left txt-center">
                    <img src="images/tmp/history-pic.jpg" alt="" class="card-hs__pic">
                </div>

                <div class="card-hs-right">
                    <p class="card-hs__date">1 апреля 2017</p>
                    <p class="card-hs__p">
                        2 апреля в музее Ингосстраха откроется выставка фарфора завода братьев
                        Корниловых. В экспозицию войдет лишь часть большой коллекции главы УК
                        «Ингосстрах- Инвестиции» Фарида
                        Юнусова
                    </p>
                    <p class="card-hs__bottom">
                        <a href="#" class="btn btn-black">подробнее</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-hs">
                <div class="card-hs-left txt-center">
                    <img src="images/tmp/history-pic.jpg" alt="" class="card-hs__pic">
                </div>

                <div class="card-hs-right">
                    <p class="card-hs__date">1 апреля 2017</p>
                    <p class="card-hs__p">
                        2 апреля в музее Ингосстраха откроется выставка фарфора завода братьев
                        Корниловых. В экспозицию войдет лишь часть большой коллекции главы УК
                        «Ингосстрах- Инвестиции» Фарида
                        Юнусова
                    </p>
                    <p class="card-hs__bottom">
                        <a href="#" class="btn btn-black">подробнее</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-hs">
                <div class="card-hs-left txt-center">
                    <img src="images/tmp/history-pic.jpg" alt="" class="card-hs__pic">
                </div>

                <div class="card-hs-right">
                    <p class="card-hs__date">1 апреля 2017</p>
                    <p class="card-hs__p">
                        2 апреля в музее Ингосстраха откроется выставка фарфора завода братьев
                        Корниловых. В экспозицию войдет лишь часть большой коллекции главы УК
                        «Ингосстрах- Инвестиции» Фарида
                        Юнусова
                    </p>
                    <p class="card-hs__bottom">
                        <a href="#" class="btn btn-black">подробнее</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button--vc"></div>
    <div class="swiper-button-prev swiper-button--vc"></div>
</div>