<!-- Swiper -->
<div class="intro-slider-wrapper">
    <div class="txt-center px-6 mb-8 relative js-intro-arrows">
        <img src="images/plate-lg.png" alt="" class="intro-slider__pic-lg">
    </div>
    <div class="swiper-container intro-slider js-intro-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p">Корниловский фарфор</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p">Коллекции-одиночки</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p">Эпоха Николая II</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p">Дореволюционный фарфор</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p"> Самые скандальные</p>
                </a>
            </div>
    
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next sb-white js-intro-arrow"></div>
        <div class="swiper-button-prev sb-white js-intro-arrow"></div>
    </div>
</div>
