<!-- Swiper -->
<div class="gallery-slider-wrapper">
    <div class="swiper-container gallery-slider js-gallery-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide txt-center">
                <img src="images/plate-lg.png" alt="" class="gallery-slider__pic mw-580">
            </div>
            <div class="swiper-slide txt-center">
                <img src="images/plate-lg.png" alt="" class="gallery-slider__pic mw-580">
            </div>
            <div class="swiper-slide txt-center">
                <img src="images/plate-lg.png" alt="" class="gallery-slider__pic mw-580">
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next sb-white"></div>
        <div class="swiper-button-prev sb-white"></div>
    </div>
</div>

<!-- Swiper -->
<div class="intro-slider-wrapper">
    <div class="swiper-container intro-slider js-intro-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p">Корниловский фарфор</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p">Коллекции-одиночки</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p">Эпоха Николая II</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p">Дореволюционный фарфор</p>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="intro-slider-ctx">
                    <img src="images/sliders/slide-1.jpg" alt="" class="intro-slider__pic">
                    <p class="intro-slider__p"> Самые скандальные</p>
                </a>
            </div>

        </div>
    </div>
</div>
