<!-- Swiper -->
<div class="swiper-container card-hs__slider js-card-hs pb-sm-0">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card-hs">
                    <div class="card-hs-right card-hs-right--large txt-center">
                        <img src="images/finparty.jpg" alt="" width="181" height="55" class="mb-2">
                        <p class="card-hs__p">
                                31 марта в музее «Ингосстраха» открылась выставка фарфора одного из самых 
                                известных его производителей 
                                в Российской  империи — завода братьев Корниловых. В экспозицию вошла лишь часть большой коллекции главы УК 
                                «Ингосстрах-Инвестиции» Фарида 
                                Юнусова
                        </p>
                        <p class="card-hs__bottom">
                            <a href="#" class="btn btn-black">подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-hs">
                    <div class="card-hs-right card-hs-right--large txt-center">
                        <img src="images/finparty.jpg" alt="" width="181" height="55" class="mb-2">
                        <p class="card-hs__p">
                                31 марта в музее «Ингосстраха» открылась выставка фарфора одного из самых 
                                известных его производителей 
                                в Российской  империи — завода братьев Корниловых. В экспозицию вошла лишь часть большой коллекции главы УК 
                                «Ингосстрах-Инвестиции» Фарида 
                                Юнусова
                        </p>
                        <p class="card-hs__bottom">
                            <a href="#" class="btn btn-black">подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-hs">
                    <div class="card-hs-right card-hs-right--large txt-center">
                        <img src="images/finparty.jpg" alt="" width="181" height="55" class="mb-2">
                        <p class="card-hs__p">
                                31 марта в музее «Ингосстраха» открылась выставка фарфора одного из самых 
                                известных его производителей 
                                в Российской  империи — завода братьев Корниловых. В экспозицию вошла лишь часть большой коллекции главы УК 
                                «Ингосстрах-Инвестиции» Фарида 
                                Юнусова
                        </p>
                        <p class="card-hs__bottom">
                            <a href="#" class="btn btn-black">подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>