.bg {

  &-black {
    background-color: $black;
  }

  &-gray {
    background-color: $gray;
  }

  &-gray-d {
    background-color: $gray-d;
  }

  &-gray-pattern {
    background-image: url('../images/pattern-gray.png');
  }
}
