.txt {

  &-center {
    text-align: center;
  }

  &-white {
    color: $white;
  }

  &-red {
    color: $red;
  }

  &-red-l {
    color: $red-l;
  }

  &-vollkrn {
    font-family: $font-Vollkorn;
    font-size: 20px;
  }

  &-uppcase {
    text-transform: uppercase;
  }

  &-uppnone {
    text-transform: none !important;
  }

  &-14 {
    font-size: 14px;
  }

  &-lh-2 {
    line-height: 2;
  }

  &-ls-16 {
    letter-spacing: 1.6px;
  }

  @include media-breakpoint-up(sm) {
    &-sm-left {
      text-align: left;
    }
  }

  @include media-breakpoint-up(lg) {

    &-vollkrn {
      line-height: 1.8;
    }
  }
}

